/* General styling */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Font styles */
body {
  font-family: "Figtree", sans-serif;
  font-weight: 300;
  background-color: #101010;
  color: #F5EFED;
  margin: 0 auto;
  font-size: 1rem;
}

h4, h5, h6 {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
}

h1, h2, h3 {
  font-family: "Lora", serif;
  font-weight: 300 !important;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-style: italic;
}

p {
  margin: 0.6em 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

ul {
  padding-left: 1em;
}

/* Colours */
.yellow {
  color: #F0F415;
}

.green {
  color: #2BC2A4;
}

.blue {
  /* color: #41AACA; */
  color: #2292A4;
}

.purple {
  color: #7C90F6;
}

.red {
  color: #F45B69;
}

.pink {
  color: #EE9B9C;
}

.dark {
  color: #101010;
}

/* Link styles */
a {
  text-decoration: none;
  color: #F5EFED;
}

#footer a {
  font-size: 1.4em;
}

.link-special {
  font-weight: 600;
  color: #ff6b6e;
  font-family: "Lora", serif;
}

.link-special:hover {
  color:#2BC2A4;
}

/* Text decorations */
.yellow-highlight {
  background-color: #F0F415;
  font-weight: 500;
  color: #101010;
  padding: 0 5px;
  line-height: 1em;
}
.light-highlight {
  background-color: #F5EFED;
  color: #101010;
  padding: 0 5px;
  margin-bottom: 0.5rem;
}
.purple-highlight {
  background-color: #465291;
  color: #F5EFED;
  padding: 0 5px;
  margin-bottom: 0.5rem;
}
.blue-highlight {
  background-color: #2293a486;
  color: #F5EFED;
  padding: 0 5px;
  margin-bottom: 0.5rem;
}
.green-highlight {
  background-color: #2bc2a490;
  color: #101010;
  padding: 0 5px;
  margin-bottom: 0.5rem;
}
.green-highlight-light {
  background-color: #2bc2a456;
  color: #F5EFED;
  padding: 0 5px;
  margin-bottom: 0.5rem;
}
.weight-500 {
  font-weight: 500;
}

/* Containers and divs */
.container {
  margin: 0 auto;
  width: 850px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 3em;
}

.flex-align-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container p, .flex-left, .flex-right {
  width: 100%;
}

.light-background {
  background-color: #fffffff4;
  color: #101010;
  padding: 1.6em;
  width: 100%;
}

.dark-background {
  background-color: #101010;
  color: #F5EFED;
  padding: 1.6em;
  width: 100%;
}

/* Styling the tabs */
.flex-col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.flex-col h4 {
  margin: 0.8em 0;
}

.flex-row {
  gap: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.light-vertical-line {
  top:0;
  bottom: 0;
  align-self: stretch;
  background-color: #F5EFED76;
  width: 1px;
  z-index: 1;
}

.dark-vertical-line {
  top: 0;
  bottom: 0;
  align-self: stretch;
  background-color: #101010;
  width: 1px;
  z-index: 1;
}

.flex-50 {
  width: 50%;
  align-self: flex-start;
}

.flex-50 img {
  max-width: 100%;
  max-height: 32px;
  object-fit: contain;
}

.flex-col-50:last-child {
  border-right: none;
}

.flex-align-end {
  align-items: flex-end;
}

#learning .flex-50 {
  margin-bottom: 0.8em;
}
.rounded-lg {
  border-radius: 20px;
}

/* Margins */
.no-margin {
  margin: 0;
}
.mb0 {
  margin-bottom: 0;
}
.mb03 {
  margin-bottom: 0.3em;
}
.mb1 {
  margin-bottom: 1em;
}
.mt0 {
  margin-top: 0;
}
.add-mt-responsive {
  margin-top: 0;
}
.remove-mt-responsive {
  margin-top: 4em;
}
.t1 {
  margin-top: 1em;
}
.t4 {
  margin-top: 4em;
}

.t3 {
  margin-top: 3em;
}

.t2 {
  margin-top: 2em;
}

.tb2 {
  margin-bottom: 2em;
}

.t2-responsive {
  margin-top: 2em;
}

.article {
  padding-bottom: 0.8em;
}
.pt-2 {
  padding-top: 2em;
}
.w-100 {
  width: 100%;
}

/* sections */
section {
  padding: 3em 0 3em 0;
  min-height: calc(100vh - 30px);
}

#lanlands, #development, #intro, #learning {
  background-color: #101010;
  color: #F5EFED;
}

#skills, #teaching, #managing, #languages {
  background-color: #F5EFED;
  color: #101010;
}

/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0 auto;
  padding: 10px 0;
  height: 40px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

nav {
  width: 90%;
  margin: 0 auto;
}

#navbar {
  height: fit-content;
  padding: 0.5em 0;
}

.background-transition {
  transition: background-color 0.3s ease;
}

#desktop-navbar {
  display: block;
}

#mobile-navbar {
  display: none;
}

#mobile-navbar ul {
  gap: 0.6em;
}

#desktop-navbar ul {
  gap: 0.5em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.nav-item {
  font-weight: 400;
  padding: 6px 9px;
  color: #F5EFED;
}

.nav-item-hover:hover {
  color: #A6A2A0 !important;
}

.nav-item-hover-light:hover {
  color: #F5EFED;
}

.nav-item-hover-dark:hover {
  color: #101010;
}

.logo-nav a{
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  max-width: 38px;
  max-height: 38px;
  object-fit: contain;
}
/*
.dark-text-border {
  text-shadow:
    -1px -1px 0 #101010,
    1px -1px 0 #101010,
    -1px 1px 0 #101010,
    1px 1px 0 #101010;
}

.light-text-border {
  text-shadow:
    -1px -1px 0 #F5EFED,
    1px -1px 0 #F5EFED,
    -1px 1px 0 #F5EFED,
    1px 1px 0 #F5EFED;
} */

/* footer */
footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* intro */
#intro {
  height: 100%;
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.video-background {
  height: 100%;
  width: 50%;
  overflow: hidden;
  object-fit: cover;
  flex-grow: 1;
  transition: width 1s ease, opacity 1s ease;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}


.black-veil {
  filter:brightness(0.8);
}

.intro-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease;
  flex-grow: 1;
}

.scrolling-text-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.scrolling-text-outer-wrapper {
  overflow: hidden;
  height: 3.7em;
  margin-left: 0;
}

.scrolling-text-inner-wrapper {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}

.scrolling-text-inner-wrapper h1 {
  margin: 0;
  padding: 0;
}

/* skills */
#skills h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.bio-image img {
  max-width: 160px;
  max-height: 160px;
  object-fit: contain;
  bottom: 0;
  transform: scaleX(-1);
}

.bio-image {
  /* border-bottom: #F5EFED 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.outer-div {
  height: 50vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 2em 0;
  padding: 0;
  border-bottom: 1px solid #F5EFED76;
}

.outher-div::-webkit-scrollbar {
  display: none;
}

.inner-div {
  margin-bottom: 1em;
  padding: 1em;
  height: fit-content;
  scroll-snap-align: start;
  border-bottom: #F5EFED 1px solid;
  border-top: #F5EFED 1px solid;
}

.inner-div h3 {
  margin-top: 0;
}

.inner-div p {
  margin: 5px;
}

.list-no-indentation {
  padding-left: 12px;
}

.list-no-indentation li {
  padding-bottom: 10px;
}

/* lanlands */
#logo-lanlands {
  width: 200px;
}
.lanlands-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  border: none !important;
}
.gap1 {
  gap: 1em;
}
.align-items-center {
  align-items: center;
}
.lanlands-container video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .lanlands-container .wide {
  width: 80%;
  text-align: left;
}
.lanlands-container .narrow {
  width: 20%;
  text-align: left;
  background-color: #F5EFED;
  padding: 1.6em;
  color: #101010;
} */

.lanlands-container .mobile {
  width: 30%;
  text-align: left;
}

.lanlands-container .mobile video {
  border-radius: 20px;
  border:1px solid #f5efeda2;
}
.lanlands-container .grid {
  width: 70%;
  text-align: left;
}

.lanlands-container .details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 0.5em;
}

.card-details {
  width: 100%;
  height: 9em;
  display: flex;
  align-items: stretch;
  border-radius: 5px;
  overflow: hidden;
  /* outline: 1px dashed black;
  outline-offset: -5px; */
}

.card-details img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.border-outlined {
  outline: 1px dashed black;
  outline-offset: -5px;
  border: none;
}

.lanlands-container .card-details img, .lanlands-container .card-details video {
  height: 100%;
  width: 9em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bear-container {
  position: absolute;
  bottom: -7px;
  left: 50px;
  z-index: 10;
}

.bear-box {
  position: relative;
}

/* teaching */
.outer-div-reviews {
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2.5rem;
  border-bottom: 1px solid #10101095;
}

.height-360 {
  max-height: 34em;
}

.height-700 {
  max-height: 70em;
}

.review-name {
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.inner-div-reviews {
  background-color: #ffffffb1;
  padding: 8px 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

/* web */
.outer-div-projects {
  max-height: 450px;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
}

#development .flex-right {
  height: 450px;
}

.project-info {
  font-family: "Figtree", sans-serif;
  color: #A6A2A0;
  background-color: #101010;
  border: none;
  cursor: pointer;
  text-align: left;
  padding-left: 0;
}

.svg-a {
  filter: brightness(100%);
}

.svg-a:hover {
  filter: brightness(80%);
}

.new-project-info {
  margin-top: 2em;
  margin-bottom: 6em;
}

.new-project-visual {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1em;
  width: 100%;
}

.new-project-visual .video {
  width: 60%;
}

.new-project-visual .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-project-visual .image {
  width: 40%;
  text-align: right;
}

.new-project-visual .image img {
  width: 90%;
  object-fit: cover;
  height: 90%;
}

/* carousel */
.carousel {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
  width: 100%;
  position: relative;
}

.slide img {
  object-fit: contain;
  width: 100%;
}

.slide video {
  width: 100%;
}

.carousel-btns {
  position: relative;
  bottom: 150px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 10;
  margin: 0 auto;
  opacity: 0;
}

.carousel-btns button {
  color: #78787870;
  background: none;
  border: none;
}

.carousel-btns button:hover {
  color: #757575;
}

.carousel-nav-btns {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: flex-start;
}

.carousel-nav-btns .nav-btn {
  font-family: "Figtree", sans-serif;
  color: #A6A2A0;
  background-color: #101010;
  border: none;
  cursor: pointer;
  text-align: left;
  padding-left: 0;
}

.nav-btn-container {
  width: calc(100% / 3 - 1em);
}

.project-name {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-name p, .project-name i {
  margin: 0;
  font-size: 1rem;
}

.project-name a {
  font-size: 1rem;
}

.nav-btn p {
  font-weight: 300;
  font-size: 0.9rem;
}

.nav-btn:hover {
  color: #F5EFED;
}

.nav-btn:active {
  color: #F5EFED;
}

.project-name .nav-link i {
  color: #ff6b6e;
}

.project-name .nav-link:hover i {
  color:#2BC2A4;
}

/* languages */
.map img {
  width: 100%;
  object-fit: contain;
  margin: 3em 0 2em 0;
}

/* responsive */
@media (max-width: 960px) {
  .container {
    width: 90%;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .outer-div {
    margin: 2em 0;
    height: 45vh;
  }

  .outer-div-reviews {
    max-height: fit-content;
  }
  .inner-div-reviews {
    border-radius: 20px;
  }

  .outer-div-projects {
    max-height: fit-content;
  }

  #intro {
    flex-direction: column;
    height: 100vh;
  }
  .intro-right {
    position: absolute;
    z-index: 10;
  }
  .intro-left {
    position: relative;
  }
  .video-background {
    width: 100%;
    height: 100%;
  }
  .intro-right {
    width: 100%;
    height: 90%;
  }
  .scrolling-text-flex {
    /* text-shadow: 0 0 6px rgba(0, 0, 0, 0.49); */
    text-shadow:
    -1px -1px 0 #101010a2,
    1px -1px 0 #101010,
    -1px 1px 0 #101010,
    1px 1px 0 #101010;
  }
  .scrolling-text-flex h1 {
    margin: 0;
  }
  .lanlands-container {
    flex-direction: column;
    height: fit-content;
  }
  .lanlands-container .wide, .lanlands-container .narrow, .lanlands-container .grid, .lanlands-container .mobile {
    width: 100%;
  }
  .lanlands-container .mobile video {
    margin: 0 auto;
    width: 260px;
  }
  .bear-container {
    bottom: -30px;
  }
  .outer-div {
    border-bottom: none;
    height: fit-content;
  }
  .outer-div-reviews {
    border-bottom: none;
  }
  .remove-mt-responsive {
    margin-top: 0;
  }
}

@media (max-width: 780px) {
  #desktop-navbar {
    display: none;
  }

  #mobile-navbar {
    display: block;
  }

  #mobile-navbar a {
    font-size: 1.3em;
  }

  #footer a {
    font-size: 1.3em;
  }

  .new-project-visual {
    display: flex;
    flex-direction: column;
  }

  .new-project-visual .video, .new-project-visual .image {
    width: 100%;
  }

  .t2-responsive {
    margin-top: 0.5em;
  }

  #logo-lanlands {
    width: 160px;
  }
}

@media (max-width: 720px) {
  #intro h1 {
    font-size: 2.8em;
  }

  h1 {
    font-size: 2.3em;
  }

  .carousel-nav-btns {
    flex-direction: column;
  }
  .carousel-nav-btns .nav-btn {
    width: 100%;
  }

  .nav-btn-container {
    width: 100%;
  }

  #development .flex-right {
    margin-top: 2em;
    width: 100%;
    height: 100%;
  }
  .add-mt-responsive {
    margin-top: 2em;
  }
}

@media (max-width: 540px) {
  .scrolling-text-flex {
    flex-direction: column;
    text-align: center;
  }
}
