body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/* font styles */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #101010;
  color: #F5EFEB;
  font-size: 14px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
  font-weight: 400 !important;
}

h1 {
  font-size: 40px !important;
}

a {
  text-decoration: none;
  color: #F5EFEB;
  font-size: 20px;
}

button {
  font-family: 'Montserrat', sans-serif;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.yellow {
  color: #F4FF77;
}

.dark {
  color: #101010;
}

.no-margin {
  margin: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt0 {
  margin-top: 0;
}

/* containers */
.container {
  margin: 0 auto;
  width: 850px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 3em;
}

.flex-container p {
  width: 100%;
}

.flex-left, .flex-right {
  width: 100%;
}

.flex-right {
  height: stretch;
}

.flex-col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex-row {
  gap: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.light-vertical-line {
  top:0;
  bottom: 0;
  align-self: stretch;
  background-color: #F5EFEB;
  width: 1px;
  z-index: 1;
}

.dark-vertical-line {
  top: 0;
  bottom: 0;
  align-self: stretch;
  background-color: #101010;
  width: 1px;
  z-index: 1;
}

.flex-50 {
  width: 50%;
  align-self: flex-start;
}

.flex-50 h3 {
  margin-top: 10px;
}

.flex-50 img {
  max-width: 100%;
  max-height: 32px;
  object-fit: contain;
}

.flex-col-50:last-child {
  border-right: none;
}

.flex-align-end {
  align-items: flex-end;
}

.t5 {
  margin-top: 5em;
}

.t4 {
  margin-top: 4em;
}

.t3 {
  margin-top: 3em;
}

.t2 {
  margin-top: 2em;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: space-between;
  margin: 2em 0;
  overflow: hidden;
}

.flex-grid-inner {
  max-width: 100%;
  max-height: 40vh;
  gap: 1em;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  /* overflow: auto; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.flex-item {
  box-sizing: border-box;
  width: 320px;
}

.flex-grid-inner:last-child {
  margin-bottom: 2em;
}

.flex-item img {
  width: 320px;
  height: 160px;
  display: block;
  object-fit: cover;
}

/* sections */
section {
  padding: 3em 0 3em 0;
  min-height: calc(100vh - 90px);
}

#skills, #development, #intro, #learning {
  background-color: #101010;
  color: #F5EFEB;
}

#teaching, #managing, #languages {
  background-color: #F5EFEB;
  color: #101010;
}

/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0 auto;
  padding: 10px 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 40px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

nav {
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 0;
}

nav ul {
  width: 210px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav a{
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  max-width: 38px;
  max-height: 38px;
  object-fit: contain;
}

.dark-text-border {
  text-shadow:
        -1px -1px 0 #101010,
        1px -1px 0 #101010,
        -1px 1px 0 #101010,
        1px 1px 0 #101010;
}

.light-text-border {
  text-shadow:
        -1px -1px 0 #F5EFEB,
        1px -1px 0 #F5EFEB,
        -1px 1px 0 #F5EFEB,
        1px 1px 0 #F5EFEB;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}

/* intro */
#intro {
  height: 100%;
  padding: 0 !important;
}

#intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.video-background {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.inner-div img {
  max-width: 180px;
  max-height: 180px;
  object-fit: contain;
  transform: scaleX(-1);
}

/* skills */
.outer-div {
  height: 50vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 4em 0;
  padding: 0;
}

.outher-div::-webkit-scrollbar {
  display: none;
}

.inner-div {
  margin-bottom: 1em;
  padding: 1em;
  height: fit-content;
  scroll-snap-align: start;
  border-bottom: #F5EFEB 1px solid;
  border-top: #F5EFEB 1px solid;
}

.inner-div h3 {
  margin-top: 0;
}

.inner-div p {
  margin: 5px;
}

.point-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.arrow-down {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  margin: 0;
  gap: 2em;
  width: 70%;
  margin: 0 auto;
  height: 150px;
}

.arrow-down img {
  max-height: 70px;
  object-fit: contain;
}

.scroll-cue {
  font-size: 18px;
  text-align: center;
  position: relative;
  animation: opacitySwitch 3s ease-in-out infinite;
}

@keyframes opacitySwitch {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

/* teaching */
.outer-div-reviews {
  max-height: 350px;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 1em 0;
}

.review-name {
  font-weight: bold;
}

.review-name p {
  margin: 0;
  padding: 0;
}

.review {
  padding: 1em 0;
}

/* web */
.outer-div-projects {
  max-height: 450px;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
}

.video-container {
  margin: 3em 0 1em 0;
}

.project {
  margin: 2em 0 3em 0;
}

.project a {
  font-size: 14px;
  color: #F5EFEB !important;
}

.project a:hover {
  color: #F4FF77 !important;
}

.flex-container-ui {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width:100%;
  gap: 3em;
  padding: 3em 0;
}

.flex-left-ui {
  width: 350px;
  height: 530px;
  background-color: black;
  margin-left: 3em;
}

.flex-right-ui {
  width: calc(100% - 370px);
}

/* carousel */
.carousel {
  width: 100%;
  height: 530px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
  width: 100%;
  position: relative;
}

.slide img {
  object-fit: contain;
  width: 100%;
}

.slide video {
  width: 100%;
}

.carousel-btns {
  position: relative;
  bottom: 150px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 10;
  margin: 0 auto;
}

.carousel-btns button {
  color: #78787870;
  background: none;
  border: none;
}

.carousel-btns button:hover {
  color: #757575;
}

.slide-title {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

.nav-btn {
  color: #F5EFEB;
  background-color: #101010;
  border: 1px solid #f5efeb2d;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px 12px 0;
}

.nav-btn:hover {
  /* color:#F5EFEB; */
  border: 1px solid #F4FF77;
}

.nav-btn:active {
  /* color: #F4FF77; */
  border: 1px solid #F4FF77;
}


/* languages */
.map img {
  width: 100%;
  object-fit: contain;
  margin: 3em 0 2em 0;
}

/* responsive */
@media (max-width: 960px) {
  .container {
    width: 90%;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .outer-div {
    margin: 2em 0;
    height: 45vh;
  }

  .outer-div-reviews {
    max-height: fit-content;
  }

  .point-down {
    display: none;
  }

  .flex-container-ui {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .flex-left-ui, .flex-right-ui {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .flex-right-ui {
    order: -1;
  }

  .carousel {
    height: max-content;
  }
}


@media (max-width: 720px) {
  .flex-container-ui {
    flex-direction: column;
  }

  .flex-right-ui {
    width: 100%;
  }

  .flex-left-ui {
    width: 100%;
  }

}

@media (max-width: 540px) {

}
